<section class="seccion">
    <div class="formulario">
        <h1>Nuevo Pokemon</h1>
        <form [formGroup]="newForm" style="margin: 0px 40px;" (ngSubmit)="enviarForm(newForm.value)">
            <div class=" form-group row">
                <div class="columna">
                    <label for="formControlInput1">Nombre: </label>
                    <input type="text" class="form-control input" formControlName="name" required placeholder="Pokemon">
                </div>
                <div class="columna">
                    <label class="mr-4">Ataque: 0  </label>
                    <input id="slider_1" class="slider1" (change)="valueAttack()" type="range" min="1" max="100" value="50" formControlName="attack">
                    <label for="volume">  100  </label>
                    <div class="box">
                        <div id="value_1"></div>
                    </div>
                </div>
            </div><br>
            <div class=" form-group row">
                <div class="columna">
                    <label for="formControlInput1">Imagen: </label>
                    <input type="text" class="form-control input" formControlName="image" required placeholder="URL">
                </div>
                <div class="columna">
                    <label class="mr-4">Defensa: 0  </label>
                    <input id="slider_2" class="slider" (change)="valueDefense()" type="range" min="1" max="100" value="50" formControlName="defense">
                    <label for="volume">  100  </label>
                    <div class="box">
                        <div id="value_2"></div>
                    </div>
                </div>
            </div><br>
            <div class=" form-group row">
                <div class="columna" style="text-align: right;">
                    <button type="submit" class="btn dividir"><i class="fa fa-floppy-o"></i> Guardar</button>
                </div>
                <div class="columna" style="text-align: left;">
                    <button class="btn dividir" (click)="return()"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</section>

