.column1 {
    width: 100%;
    padding-bottom: 10px;
    height: auto;
    text-align: right;
}


.btn {
    background-color: #6658F6;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    width: auto;
}

.seccion {
    align-items: center;
    justify-content: center;
}

.formulario {
    border: 2px solid rgb(187, 188, 199);
    padding: 8px;
}

h1 {
    text-align: center;
}

.input {
    height: 30px;
    padding: 7px;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

button:hover {
    background-color: #a198ff;
}

.row:after {
    text-align: center;
    content: "";
    display: table;
    clear: both;
}

.row {
    text-align: center;
}

.dividir {
    margin: 10px;
}

#slider {
    accent-color: #6658F6;
}

#slider1 {
    accent-color: #6658F6;
}

input:invalid {
    box-shadow: 0 0 2px 1px rgb(172, 11, 11);
    border: none;
}

input:focus:invalid {
    box-shadow: none;
}
