<section class="seccion">
    <div class="formulario">
        <h1>Editar Pokemon</h1>
        <form [formGroup]="editForm" style="margin: 0px 40px;" (ngSubmit)="postForm(editForm.value)">
            <div class=" form-group row">
                <div class="column">
                    <label for="formControlInput1">Nombre: </label>
                    <input type="text" id="name"   (change)="setInputName()" class="form-control input" required formControlName="name" placeholder="Pokemon">
                </div>
                <div class="column">
                    <label class="mr-4">Ataque: 0  </label>
                    <input id="slider1" class="slider1" (change)="valueAttack()" type="range" min="1" max="100" value="50" formControlName="attack">
                    <label for="volume">  100  </label>
                    <div class="box" >
                        <div id="value1" *ngIf="pokemon.attack!=undefined">{{ pokemon.attack }}</div>
                    </div>
                </div>
            </div><br>
            <div class=" form-group row">
                <div class="column">
                    <label for="formControlInput1">Imagen: </label>
                    <input type="text" class="form-control input" placeholder="URL" required formControlName="image">
                </div>
                <div class="column">
                    <label class="mr-4">Defensa: 0  </label>
                    <input id="slider" class="slider" (change)="valueDefense()" type="range" min="1" max="100" value="50" formControlName="defense">
                    <label for="volume">  100  </label>
                    <div class="box">
                        <div id="value" *ngIf="pokemon.defense!=undefined">{{ pokemon.defense }}</div>
                    </div>
                </div>
            </div><br>
            <div class=" form-group row">
                <div class="column" style="text-align: right;">
                    <button type="submit" class="btn dividir"><i class="fa fa-floppy-o"></i> Guardar</button>
                </div>
                <div class="column" style="text-align: left;">
                    <button class="btn dividir" (click)="return()"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</section>
