* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
}

form {
    border: 2px solid rgb(187, 188, 199);
    background-color: #ffffff;
    width: auto;
    max-width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    padding: 5px;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
}

.caja_inline {
    display: inline-block;
    width: 100px;
}