<div style="overflow-x:auto;">
<table>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Ataque</th>
        <th>Defensa</th>
        <th>Acciones</th>
    </tr>
        <tr *ngFor="let pokemon of pokemons">
        <td>{{pokemon.id}}</td>
        <td>{{pokemon.name}}</td>
        <td><img src="{{pokemon.image}}" alt="{{pokemon.name}}"></td>
        <td>{{pokemon.attack}}</td>
        <td>{{pokemon.defense}}</td>
        <td>
            <div class="row">
                <div>
                  <app-update-button [idPokemon] = "pokemon.id"></app-update-button>         
                  <app-delete-button [idPokemon] = "pokemon.id"></app-delete-button>
                </div>
            </div>
        </td>
    </tr>
</table>
</div>
