.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
}
.column2 {
    text-align: right;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 2px solid rgb(187, 188, 199);
    text-align: center;
    font-size: 20px;
    background-color: #ffffff;
}

img {
    width: 50px;
    height: 50px;
}


.iconbtn {
    background-color: white;
    border: none;
    color: #6658F6;
    font-size: 20px;
    cursor: pointer;
    width: auto;
}

.iconbtn2 {
    background-color: white;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    width: auto;
}