.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
}
.column2 {
    text-align: right;
}

.btn_new {
    background-color: #6658F6;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    width: auto;
}

.btn_new:hover {
    background-color: RoyalBlue;
}
.caja_inline {
    display: inline-block;
    margin-left: 200px;
}

.new{
    padding-left: 10px;
    font-size: 20px;
}