<div >
    <button class="btn_new" (click)="pokemonAdd()"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="20px" height="20px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-width="2" d="M12 20v-8m0 0V4m0 8h8m-8 0H4"/>

    </svg>
    <span class = "new">Nuevo</span>
    </button>
</div>
