<button class="svg_btn" (click)="pokemonDelete(idPokemon)"><i class="fa fa-trash"></i>
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="#6859f7" d="M14 5a2 2 0 1 0-4 0h4ZM8.5 5a3.5 3.5 0 1 1 7 0h5.75a.75.75 0 0 1 0 1.5h-1.32l-.502 5.195A6.5 6.5 0 0 0 11.81 22H8.975a3.75 3.75 0 0 1-3.733-3.389L4.07 6.5H2.75a.75.75 0 0 1 0-1.5H8.5ZM22 17.5a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0Zm-7.146-2.354a.5.5 0 0 0-.708.708l1.647 1.646l-1.647 1.646a.5.5 0 0 0 .708.708l1.646-1.647l1.646 1.647a.5.5 0 0 0 .708-.708L17.207 17.5l1.647-1.646a.5.5 0 0 0-.708-.708L16.5 16.793l-1.646-1.647Z"/></svg>
</button>